* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    width: 100%;
    padding: 50px;
  
    display: flex;
    justify-content: space-between;
  
    position: fixed;
    top:0;
    left: 0;
}

.hero {
    height: 1200px;
    font-size: 25px;
    font-family: Arial;
    color: #000000;
    background-image: url(images/evian.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: space-around;}

    
    .container {
      width: 1040px;
      margin: 0 auto; /* Выравниваем по центру */
    }
    
  .border {
      padding: 100px;
      border: 2px #f108cb;
      border-radius: 30px; 
    }
    
.border-flex {
      display: flex; 
      align-items: center;
    }
    
.bottles {
     display: flex;
     justify-content: center;
     
    }
.menu {
      margin-top: 15px;
      
  }
.menu > li {
      margin-right: 50px;
      display: inline;
      
  }
.menu > li:last-of-type {
      margin-right: 0;}
