* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.block1 {
    padding: 40px 0;
    color: rgb(0, 0, 0);
    background-color: #FFE138;
    ;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .tablles {
    padding: 30px;
    display: flex;
    justify-content: center;
    
   
    
   }
   .text {
     
     
   }
.tab1{
    
    border: 1px solid;
    padding: 20px;
    width: 30%;
    margin:  10px;
}


